@font-face {
  font-family: "Din-2014";
  src: url("../fonts/DIN2014-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0%;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f9f9f9;
}

label {
  display: none;
  position: absolute;
  font-size: 0.8rem;
  color: #737373;
  padding: 10px 1rem;
  z-index: 10;
}

.form {
  transform: translateY(7rem);
  padding-bottom: 4rem;
  padding-left: 1.5rem;
  font-family: "din-2014";
}

select,
input:not(input[type="submit"]) {
  border: 1px solid#d9d9d9;
  padding: 1.2rem 0.78rem 0.5rem 0.78rem;
  margin: 0.4rem;
  width: 80%;
  border-radius: 5px;
}

select {
  width: 84.5%;
}

input[type="submit"] {
  padding: 0.5rem 1.25rem;
}

.info {
  padding: 1rem 0rem;
}

.info h1 {
  margin-bottom: 1rem;
  color: #88744a;
}

.pay,
.pay:visited {
  font-family: "din-2014";
  padding: 16px 20px;
  color: #88744a;
  display: inline-block;
  width: 16.5em;
  text-align: left;
  border: solid 1px #88744a;
  font-size: 0.9375em;
  font-weight: 400;
  transition: all 0.3s;
  text-decoration: none;
}
.pay:hover {
  background-color: #88744a;
  color: white;
}
.arrow {
  font-size: 1.5rem;
  margin: -0.3rem 1rem;
  font-family: sans-serif;
  position: absolute;
  transition: all 0.3s;
}
.pay:hover .arrow {
  margin: -0.3rem 1.75rem;
}

@media (min-width: 700px) {
  .info {
    width: 50%;
  }
  .form {
    padding-left: 4rem;
  }
}
