@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300&family=Encode+Sans+Condensed:wght@300&family=Montserrat:wght@200&family=Nanum+Myeongjo&family=Poiret+One&family=Roboto:wght@100&display=swap");

nav {
  text-align: center;
}

#temp {
  width: 100%;
  height: 100%;
}

nav ul,
nav li {
  display: inline;
}

body {
  margin: 0rem;
}

#About {
  font-family: "Nanum Myeongjo", serif;
  font-size: 2rem;
  padding-top: 2rem;
}
#Adec {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
  padding-left: 25%;
  padding-right: 25%;
  padding-bottom: 4rem;
  margin-bottom: 0;
}

@media (max-width: 900px) {
  #Adec {
    padding-left: 15%;
    padding-right: 15%;
  }
}

@media (max-width: 460px) {
  #Adec {
    padding-left: 7%;
    padding-right: 7%;
  }
}

section {
  text-align: center;
}

.check {
  display: inline-block;
  margin-top: 1rem;
  transition: all 0.3s;
  width: 8.5rem;
  font-family: montserrat;
  background-color: black;
  color: white;
  border: none;
  padding: 8px 10px;
  text-decoration: none;
  font-weight: bold;
}

.check:hover {
  background: rgb(104, 95, 95);
  text-decoration: none;
  color: white;
}

.row {
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  margin: 0px;
  border: white solid 1.75rem;
}

.text,
.image {
  background-color: rgb(221, 217, 217);
  display: flex;
  align-items: center;
  height: 25rem;
}

.text {
  flex: 2;
  line-height: normal;
}

.image {
  flex: 1;
  min-width: 45%;
  justify-content: center;
}

.ltext,
.rtext {
  font-family: Nanum Myeongjo;
  padding-bottom: 1rem;
}

.ltext {
  text-align: left;
  padding-left: 1rem;
}

.rtext {
  padding-right: 1rem;
  text-align: right;
}

@media (min-width: 500px) {
  .flip > div:first-child {
    order: 2;
  }

  .flip > div:nth-child(2) {
    order: 1;
  }
  .rtext,
  .ltext {
    padding-bottom: 1rem;
  }
  .row {
    flex-direction: row;
  }
}

@media (max-width: 600px) {
  .d-block {
    height: 40vh;
  }
}
