<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        * {
            margin: 0%;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Enter your details</title>
</head>
<body>
    {% include "header.jinja" %}
        <label>Name: </label>
        <input type="text" name="name" /><br />
        <label>Shippping address: </label>
        <input type="text" name="Address1" /><br />
        <label>Address line 2: </label>
        <input type="text" name="Address2" /><br />
        <label>Phone no: </label>
        <input type="tel" name="phone" /><br />
        <label>City: </label>
        <input type="text" name="city" /><br />
        <label>Pincode: </label>
        <input type="text" name="postal" /><br />
        <label>State: </label>
        <input type="text" name="state" /><br />
        <label>Country: </label>
        <input type="text" name="country" /><br />
        <input type="submit" value="submit" />
    {% include "footer.jinja" %}
</body>
<script>
  const submit = document.querySelector("input[type=submit]");
  submit.addEventListener("click", () => {
    var cus_name = document.querySelector("input[name=name]").value;
    var address1 = document.querySelector("input[name=Address1]").value;
    var address2 = document.querySelector("input[name=Address2]")
    var phone = document.querySelector("input[type=tel]").value;
    var city = document.querySelector("input[name=city]").value;
    var state = document.querySelector("input[name=state]").value;
    var country = document.querySelector("input[name=country]").value;
    var postal = document.querySelector("input[name=postal]").value;
    $.ajax({
      type: "POST",
      contentType: "application/json; charset=utf-8",
      url: "/customer",
      data: JSON.stringify({
        "cus_name": cus_name, 
        "address1": address1,
        "address2": address2,
        "postal": postal,
        "phone": phone,
        "city": city,
        "state": state,
        "country": country
      }),
      dataType: "json"
    });
  });
</script>
<script type="text/javascript">
    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe('pk_test_51IXQeCSJIrO4r1c2FovoVvtCyGSldD9tXYRPXEN029iCIrklXlpWydC97Tf3M06MG5KFtKtIIQs7PlB7M2TnaXR100tnaISeNM');
    var checkoutButton = document.querySelector("input[type=submit]")

    checkoutButton.addEventListener('click', function() {
      // Create a new Checkout Session using the server-side endpoint you
      // created in step 3.
      fetch('/create-checkout-session', {
        method: 'POST',
      })
      .then(function(response) {
        return response.json();
      })
      .then(function(session) {
        return stripe.redirectToCheckout({ sessionId: session.id });
      })
      .then(function(result) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, you should display the localized error message to your
        // customer using `error.message`.
        if (result.error) {
          alert(result.error.message);
        }
      })
      .catch(function(error) {
        console.error('Error:', error);
      });
    });
  </script>
</html>