<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = "icon" href = "{{ url_for('static', filename='logo.png') }}">
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='css/photos.css') }}" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300&family=Encode+Sans+Condensed:wght@300&family=Montserrat:wght@200&family=Poiret+One&family=Nanum+Myeongjo&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Photography</title>
</head>
<body>
    {% include "header.jinja" %}
    <nav>
        <div id="navigation">
        <ul>
            <li><a href = "">Potrait</a></li>
            <li><a href = "">Landscape</a></li>
        </ul>
        </div>
    </nav>
    <div class = "container">
        {% for i in images %}
            <div class = "pic">
                <div class="wrapper">
                    <a href="{{ url_for('product', photo=i) }}">
                    <img src = "{{ url_for('static', filename=images[i]['path']) }}" alt = "photo">
                    </a>
                    <h4>{{i}}</h4>
                    <h3>Standard Edition</h3>
                    <h3 class = "price">&#8377;{{images[i]["cm100"]}}</h3>
                </div>
            </div>
        {% endfor %}   
    </div>
    {% include "footer.jinja" %}
</body>
</html>