<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel = "icon" href = "{{ url_for('static', filename='logo.png') }}">
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='css/photos.css') }}" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photography</title>
    <style>
        
    </style>
</head>
<body>
    {% include "header.jinja" %}
    <nav>
        <div id="navigation">
        <ul>
            {% for i in types %}
                <li id="{{i}}">{{i}}</li>
            {% endfor %}
        </ul>
        </div>
    </nav>
    <div class = "container">
        {% for i in images %}
            <div class = "pic {{images[i]['type']}}">
                <div class="wrapper">
                    <a href="{{ url_for('product', photo=i) }}">
                    <img src = "{{ url_for('static', filename=images[i]['path']) }}" alt = "photo">
                    </a>
                    <h4>{{i}}</h4>
                    <h3>Standard Edition</h3>
                    <h3 class = "price">{{symbol}} {{(currency * images[i]["cm100"])|round(2, "ceil")}}</h3>
                </div>
            </div>
        {% endfor %}   
    </div>
    {% include "footer.jinja" %}
</body>
<script src="{{ url_for('static', filename='javascript/gallery.js') }}"></script>
</html>